@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Global styles */
.App {
  display: flex;
  flex-direction: row; 
  height: 100vh;
  overflow: hidden;
 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  background: linear-gradient(to bottom, #87CEEB, #00BFFF, #1E90FF, #4682B4);
}
