/* LanguageToggle.css */

/* Container for the slider */
.slider-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .slider-switch {
    display: flex;
    align-items: center;
  }
  
  /* Base style for the switch */
  .slider-switch label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Style for the slider background */
  .slider-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #294691; 
    transition: .4s; 
    border-radius: 34px;
  }
  
  /* Style for the slider knob */
  .slider-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s; 
    border-radius: 50%;
    background-image: url('../assets/icons/uk_flag.webp'); 
    background-size: cover;
  }
  
  /* Style for the slider when checked */
  .slider-switch input:checked + .slider {
    background-color: #294691; 
  }
  
  /* Style for the slider knob when checked */
  .slider-switch input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../assets/icons/es_flag.png'); 
  }
  